:root {
    --orange: #D87D4A;
    --grey: #F0F0F0;
    --black: rgba(16, 16, 16, 1);
    --dark-grey: rgb(134, 134, 134);
    --light-orange: #fbaf85;
    --white: rgba(255, 255, 255, 1);
    --light-black: rgba(76, 76, 76, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
}

header {
    color: #fff;
    background-image: url('../assets/home/desktop/image-hero.jpg');
    background-size: cover;
    background-position-y: -80px;
    height: 85vh;

}

.header-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid var(--light-black);
    align-items: center;
}

header h2 {
    font-weight: bold;
    margin-right: 5px;
    justify-self: start;
}

.cart {
    justify-self: right;
}

.header-container nav ul {
    display: flex;
    list-style: none;
}

.header-container nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-right: 60px;
}

.header-container nav ul li a:hover {
    color: var(--orange);
}

main {
    width: 70vw;
    margin: auto;
}

button:hover {
    cursor: pointer;
}

footer {
    background-color: var(--black);
    color: #fff;
    padding: 70px;
}

.footer-container {
    width: 70%;
    margin: auto;
}

.footer-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-2 {
    display: flex;
}

.footer-2 p {
    line-height: 1.5rem;
    color: var(--dark-grey);
    font-size: 15px;
    width: 50%;
}

.copyright {
    color: var(--dark-grey);
    font-weight: bolder;
    font-size: 15px;
}

.footer-2 {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pages-links {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    justify-content: flex-end;

}

.pages-links li {
    margin: 20px;
    font-size: 13px;

}

.pages-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.pages-links li a:hover {
    color: var(--orange);
}

.socials {
    margin-right: 30px;
}

.socials ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.socials ul li {
    margin-right: 20px;
}

.socials ul li a img:hover {
    filter: brightness(0) saturate(100%) invert(63%) sepia(30%) saturate(492%) hue-rotate(337deg) brightness(107%) contrast(108%);
}

.dropbtn {
    padding: 10px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    border-radius: 10px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: var(--orange);
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--light-black);
}

@media (max-width: 1440px) {
    main {
        width: 90vw;
    }

    header {
        background-position-y: 0;
    }

    footer {
        padding: 70px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-container {
        width: 90%;
    }
}

@media (max-width: 1170px) {
    .header-container {
        width: 90%;
    }

    header {
        background-position-x: -100px;
    }

    .footer-container {
        width: 95%;
    }
}

@media (max-width: 1024px) {
    header {
        background-position-x: -300px;
        background-position-y: -20px;
        background-size: contain no-repeat;
    }

    .header-container {
        width: 95%;
        justify-items: stretch;

    }

    footer {
        padding-bottom: 0;
    }

    .socials {
        margin-right: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 70px;
        padding-bottom: 20px;
    }

}

/*Tablet*/
@media (max-width: 768px) {
    main {
        width: 95vw;
    }

    .dropdown {
        display: inline-block;
    }

    header nav {
        display: none;
    }

    header {
        background-image: url('../assets/home/tablet/image-header.jpg');
        background-size: cover;
        height: auto;
        background-position-y: 0;
        background-position-x: 0;
        background-repeat: no-repeat;
        padding-bottom: 150px;

    }
    .header-container {
        width:100%;
    }
    .website-title{
        margin-left:-100px;
    }

    .footer-1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .pages-links li {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer-2 p {
        width: 100%;
    }
}

@media (max-width: 615px) {
    header {
        background-position-x: -100px;
        background-repeat: repeat;
    }

    .pages-links li {
        margin: 10px;

    }

}

/*MOBILE*/
@media (max-width: 375px) {
    header {
        background-image: url('../assets/home/mobile/image-header.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .website-title{
        margin-left:0;
    }
    footer {
        padding: 40px;
    }

    .footer-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .pages-links {
        justify-content: center;
        flex-direction: column;
        margin-top: 40px;

    }

    .footer-2 {
        align-items: center;
        text-align: center;
    }

    .socials {
        margin-right: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .socials ul {
        padding: 20px;
        align-items: center;
    }

}