:root {
    --orange: #D87D4A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope';
}

header {
    color: #fff;
    background-image: url('../assets/home/desktop/image-hero.jpg');
    background-size: cover;
    background-position: 100px;
    height: 95vh;
}

.header-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header h2 {
    font-weight: bold;
}

.header-container nav ul {
    display: flex;
    list-style: none;
}

.header-container nav ul li a {
    text-decoration: none;
    color: #fff;
    margin-right: 60px;
}
