
.new-product {
    width: 80%;
    height:85vh;
    margin: auto;
}

.new-product-container {
    color: #fff;
    display: flex;
    padding-top: 100px;
}

.new-product-details {
    padding-right: 20px;
    width:40%;
    display:flex;
    flex-direction: column;
}

.new-product-details p:first-child {
    color: grey;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.new-product-details h2 {
    text-transform: uppercase;
    font-size: 56px;
    margin:12px;
}

.product-description {
    color: lightgrey;
}
.new-product-details button {
    background-color: var(--orange);
    color: #fff;
    padding: 16px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    width:150px;
    margin-top:30px;
}   


.products-list {
    display:flex;
    justify-content: space-between;
    margin-top:100px;
    margin-bottom:100px;

}
.product {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    background-color:var(--grey);
    padding:5px;
    border-radius: 10px;
    width:30%;
}
.product-img {
    width:200px;
    border-radius: 10px;
}
.product a {
    color: grey;
    text-decoration: none;
    font-size: 12px;
    margin-top:10px;
    display:flex;
}
.product a img {
    padding-left:5px;
    align-self: center;
    width:10px;
}
.zx9 {
    background-color: var(--orange);
    display:flex;
    justify-content: space-between;
    padding:20px;    
    width:100%;
    height:60vh;
    padding-bottom:0;
    overflow: hidden;
    border-radius: 10px;
}

.zx9-img {
    width:50%;
    height:100%;
    display:flex;
    position: relative;

}
.zx9-img img:first-child{
    position: absolute;
    width:900px;
    top:-60px;
    left:-45px;

}
.zx9-img img:last-child{
    position: absolute;
    width:350px;
    bottom:-2%;
    left:40%;

}

.zx9-details {
    width:30%;
    margin:auto;
    color:#fff;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.zx9-details h2{
    font-size:56px;
    text-transform: uppercase;

}
.zx9-details p {
    color:var(--white);
    font-weight: lighter;
    margin-top:20px;
    margin-bottom:20px;

}
.zx9-details button {
    background-color: var(--black);
    text-transform: uppercase;
    color:#fff;
    border:1px solid transparent;
    width:fit-content;
    padding: 15px 20px;
    z-index: 2;
}
.zx9-details button:hover {
    background-color: var(--light-black);
}
.zx7 {
    display:flex;
    position:relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width:100%;
    border-radius: 10px;
}
.zx7-details{
    position:absolute;
    align-self: center;
    left:100px;
    
}
.zx7-details h2{
    font-size:26px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom:20px;

}
.zx7-details button{
    text-transform: uppercase;
    background-color: transparent;
    padding: 15px 25px;
    border: 2px solid black;
    font-weight: bold;
    width: fit-content;

}
.zx7-details button:hover {
    color: #fff;
    background-color: black;
}
.zx7-img {
    width:100%;
    border-radius: 10px;

}
.zx7-img img {
    width:100%;
    border-radius: 10px;
}
.yx1 {
    display:flex;
    justify-content: space-around;
}
.yx1 div {
    width:45%;
    border-radius: 10px;
}

.yx1-img img {
    border-radius: 10px;
    width:100%;
    height:auto;
}
.yx1-details {
    background-color:var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:100px;
}
.yx1-details h2 {
    font-size:26px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom:20px;

}
.yx1-details button {
    width: fit-content;
    text-transform: uppercase;
    background-color: transparent;
    padding: 15px 25px;
    border: 2px solid black;
    font-weight: bold;
}
.yx1-details button:hover {
    color: #fff;
    background-color: black;
}
.audio-gear {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top:150px;
    margin-bottom:150px;
    width:100%;
    
}
.gear-details h2 {
    font-size:50px;
    text-transform: uppercase;
    width:80%;
    margin-bottom:20px;

}
.gear-details h2 b{
    color:var(--orange);
}
.gear-details p {
    width:80%;
    font-size: 15px;
}
.gear-img {
    border-radius:10px;
}

.gear-img img{
    border-radius:10px;
}
@media (max-width: 1230px) {
    .new-product {
        width: 90%;

    }
    .new-product-details {
        /* width:40%; */
    }
}
@media (max-width: 1024px) {
    .new-product-details h2 {
        font-size: 40px;
    }
    .zx9-img img:first-child{
        left:-200px;
    
    }
    .zx9-img img:last-child{
        left:10%;
    
    }
    .gear-details h2 {
        width:100%;
        font-size:40px;
    }
    .gear-details p {
        width:90%;
        font-size: 15px;
    }
    .gear-img img{
        width:400px;
    }
}